.email-container {
  display: flex;
}

.email-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 219px;
}

.email-block h4 {
  font-family: "Roboto-Medium";
}
.email-block > div {
  display: flex;
  justify-content: space-evenly;
}
