.temp-container {
  margin-top: 80px;
}

.temp-block {
  display: flex;
  input {
    display: none;
  }
  .temp-items {
    display: flex;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      width: 220px;
      height: 200px;
      border-radius: 10px;
    }
  }

  .center {
    margin: 0 20px;
  }

  .label {
    display: inline-block;
    border: 1px #dddddd solid;
    width: 220px;
    height: 200px;
    border-radius: 10px;
    &:hover {
      cursor: pointer;
    }
  }

  .radio:checked + .label {
    /* target next sibling (+) label */
    border: 1px #f491a7 solid;
    span {
      color: #f491a7;
    }
  }
}

.isHidden {
  display: none; /* hide radio buttons */
}
