.app {
  display: inline-block;
}

h4 {
  color: #8f9293;
  font-size: 11px;
}

span {
  color: #969899;
  font-size: 13px;
}

button {
  width: 184px;
  height: 35px;
  font-size: 15px;
  color: #f16885;
  border: 1px #f16885 solid;
  background-color: transparent;
  border-radius: 50px;
}
